<div>
    <img src="https://znews-photo.zingcdn.me/w660/Uploaded/kbd_bcvi/2019_11_23/5d828de46f24eb2ed3491582_1.jpg"/>
</div>

{% schema %}
{
    "name":"Banner image",
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default":"This is Title"
        }
    ],
    "presets":[
        {
            "name":"Banner image"
        }
    ]
}
{% endschema %}