<div>
    <h1>Custom collections</h1>
</div>

{% schema %}
    {
        "name":"Section collections",
        "blocks":[
            {
                "type":"collection",
                "name":"Collections",
                "limit":2,
                "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Section collection",
                "blocks": [
                {
                "type": "collection"
                },
                {
                "type": "collection"
                }
            ]
            }
        ]
    }
{% endschema %}