<div>
    <h1>Custom collections</h1>
</div>

{% schema %}
    {
        "name":"Collections",
        "settings":[
            {
                "type":"collection",
                "id":"collection",
                "label":"Collection"
            }
        ]
    }
{% endschema %}