{% style %}
    .collection-group-container {
       
        background:red
    }
    .collection__card {
        position:relative;
       
        background:gold
    }
    .collection__img-wrap {
        width:100%;
        height:100%; 
        height:340px;
    }
    .collection__img {
        width:100%;
        height:100%;
        border:1px solid gold
    }
  
    .collection__content {
        position:absolute;
        top:0;
        left:0;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%
    }
    .collection__content h2 {
        font-size:19px;
        font-weight:500;
        color:var(--color-white);
        font-family:var(--font-family-1);
        text-transform:upp
    }
{% endstyle %}
<div class="collection-group-container">
   <div class="page-width">
    <div class="cus-row">
        {% for block in section.blocks %}
            {% assign item = block.settings.collection %}
            <div class="cus-col l-6 m-6" style="border:1px solid red">
                <a href="{{item.url}}" class="collection__card">
                    <div class="collection__img-wrap">
                        {% if item.featured_image != blank %}
                            <img  class="collection__img" src="{{item.featured_image | img_url: 'large'}}" width="auto" height="auto" loading="lazy"/>
                            {% else %}
                            {{ 'image' | placeholder_svg_tag: 'collection__img' }}
                        {% endif %}
                    </div>
                    <div class="collection__content">
                        {% if item.title != blank %}
                            <h2> {{ item.title }}</h2>
                            {% else %}
                               <h2 style="color:#000">Colection title</h2> 
                        {% endif %}
                       
                    </div>
                </a>
                
            </div>
        {% endfor %}
    </div>
   </div>
</div>

{% schema %}
    {
        "name":"Section collections",
        "blocks":[
            {
                "type":"collection",
                "name":"Collections",
                "limit":2,
                "settings":[
                    {
                        "type":"collection",
                        "id":"collection",
                        "label":"Collection"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Section collection",
                "blocks": [
                    {
                    "type": "collection"
                    },
                    {
                    "type": "collection"
                    }
                ]
            }
        ]
    }
{% endschema %}